body {
 margin: 0;
}
#banner {
    background-image: url("../images/4.jpg");
    width: 100vw;
    height: 8vh;
    border: 2px solid;
    display: flex;
    
}
#title {
    width: auto;
    height:max-content;
    padding-left: 100px;
    margin-top: 10px;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    border: 2px solid;
    width: 100vw;
    height: 4vh;
    align-items: center;
    background-color: greenyellow;
}
.nav-container {
    display: flex;
    padding-left: 10px;
    width: 400px;
    justify-content: space-between;
    margin-right: 5%;
}
a {
   color: black; 
   text-decoration: none;
}
main {
    display: flex;
    background-color: lightgray;
    width: 100vw;
    height: 87vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-container {
    width: inherit;
    margin-left: 2vw;
    margin-right: 2vw;
}
article {
    border: 5px solid;
}
.sm {
    flex: 1;
}
.lg {
    flex: 2;
}


